---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import PostNavigation from "@components/PostNavigation.astro";
import TableOfContents from "@components/TableOfContents.astro";
import Giscus from "@components/Giscus.astro";

export async function getStaticPaths() {
  const reports = (await getCollection("ai-reports"))
    .filter((report) => !report.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return reports.map((report) => ({
    params: { id: report.id },
    props: report,
  }));
}
type Props = CollectionEntry<"ai-reports">;

const reports = (await getCollection("ai-reports"))
  .filter((report) => !report.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function getNextReport() {
  let reportIndex;
  for (const report of reports) {
    if (report.id === Astro.params.id) {
      reportIndex = reports.indexOf(report);
      return reports[reportIndex + 1];
    }
  }
}

function getPrevReport() {
  let reportIndex;
  for (const report of reports) {
    if (report.id === Astro.params.id) {
      reportIndex = reports.indexOf(report);
      return reports[reportIndex - 1];
    }
  }
}

const nextPost = getNextReport();
const prevPost = getPrevReport();

const report = Astro.props;
const { Content, headings } = await render(report);
---

<Layout title={report.data.title} description={report.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/ai-reports">Back to AI Reports</BackToPrevious>
    </div>
    <div class="my-10 space-y-1">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={report.data.date} />
        </div>
        &bull;
        {report.body && (
          <div class="font-base text-sm">
            {readingTime(report.body)}
          </div>
        )}        
      </div>
      <h1 class="animate text-3xl font-semibold text-black dark:text-white">
        {report.data.title}
      </h1>
    </div>
    {headings.length > 0 && <TableOfContents headings={headings} />}
    <article class="animate">
      <Content />
      <div class="mt-24">
        <PostNavigation prevPost={prevPost} nextPost={nextPost} base="ai-reports" />
      </div>
      <div class="mt-24">
        <Giscus />
      </div>
    </article>
  </Container>
</Layout>
